<div class='container'>
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Editando Local</h2></div>
      <div class="panel-body">
        <%= render 'form', local: @local %>
      </div>
    </div>
</div>




<%= link_to 'Visualizar', @local, class:'btn btn-info' %> |
<%= link_to 'Voltar', locals_path, class:'btn btn-default' %>
