<div align='center'>
<h1>Conhecer Recife</h1>
</div>
    <p>
        <table>
    <% if current_user %>
      <tr><th>
      <% if current_user.image.present? %>
        <%= image_tag(current_user.image, size: "40") %>
        Olá <%= current_user.name %>
        
      <% end %>
      </th></tr>
      <tr><th>
      Olá <%= current_user.email %>
      </th></tr>
      <tr><th>
      <%= link_to "Sair", destroy_user_session_path, method: :delete %>
      </th></tr>
    <% end %>
    </table>
    </p>