<p id="notice"><%= notice %></p>

<p>
  <strong>Local:</strong>
  <%= @useranonimo.local %>
</p>

<%= link_to 'Edit', edit_useranonimo_path(@useranonimo) %> |
<%= link_to 'Back', useranonimos_path %>
